@font-face {
    font-family: 'Pixel';
    src: URL('VT323-Regular.ttf') format('truetype');
    size-adjust: 125%;
}

body {font-family: 'Pixel', sans-serif;}

p { line-height: 1.8; }

a { 
    text-decoration: none;
    transition: all 0.3s ease; 
}
a:hover { color:#f9ebaa; }
.container-fluid { max-width: 1770px; }
.tm-container-small { max-width: 1050px; }
.btn { border-radius: 0; }
.btn-primary {
    background-color: #7c87cd;
    border: 0;
    border-radius: 5px;
    padding: 12px 50px 14px;
    font-size: 1.2rem;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color:#f9ebaa;
}

.btn-primary.disabled, 
.btn-primary:disabled {
    background-color: #abb1e4;
    pointer-events: all;
    cursor: not-allowed;
}

.form-control {
	padding: 10px 20px;
	width: 100%;
	height: auto;
}

.form-group { margin-bottom: 25px; }
.tm-btn-big { padding: 12px 90px 14px; }

.navbar {
    background-color: #7c87cd;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-toggler {color: #fff;}
.navbar-toggler:focus { box-shadow: none; }

#useraccount {
    display: flex;
    align-items: center;
}

.useraccount.active,
.useraccount:hover {
    color: #f9ebaa;
}

.tm-hero {
    min-height: 200px;
    background: transparent;
}

.tm-mt-60 { margin-top: 60px; }
.tm-mb-50 { margin-bottom: 50px; }
.tm-mb-74 { margin-bottom: 74px; }
.tm-mb-90 { margin-bottom: 90px; }
.tm-text-primary { color: #7c87cd; }
.tm-text-secondary { color: #CC6699; }
a.tm-text-primary:hover { color:#f9ebaa; }
.tm-bg-gray { background-color: #EEEEEE; }
.tm-input-paging {
    width: 40px;
    border-radius: 0;
    border: 1px solid #CCCCCC;
    background: #f4f4f4;
    text-align: center;
}

.nav-item { margin-right: 30px; cursor: pointer; }
.nav-item:last-child { margin-right: 0; }

.nav-link {
    color: #fff;
    border-bottom: 4px solid transparent;
    font-size: 1.2rem;
}

.nav-link-1.active,
.nav-link-1:hover {
    border-color: #5211ba;
    color: #f9ebaa;
}

.nav-link-2.active,
.nav-link-2:hover {
    border-color: #57bbff;
    color: #f9ebaa;
}

.nav-link-3.active,
.nav-link-3:hover {
    border-color: #ffbbea;
    color: #f9ebaa;
}

.nav-link-useraccount{
    font-weight: bold;
}

.nav-link-useraccount.active,
.nav-link-useraccount:hover{
    color: #f9ebaa;
}

.logout-link.active,
.logout-link:hover{
    color: #f9ebaa;
}

.tm-search-input {
    width: 360px;
    border-radius: 30px;
    padding: 12px 20px;
    color: #7c87cd;
    border: none;
}

.tm-search-input:focus {
    border-color: #7c87cd;
    box-shadow: 0 0 0 0.25rem rgb(0 153 153 / 0.25);
}

.tm-search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #7c87cd;
    opacity: 1; /* Firefox */
}
  
.tm-search-input::-ms-input-placeholder { /* Microsoft Edge */
    color: #7c87cd;
}

.tm-search-btn {
    color: white;
    background-color: #7c87cd;
    border: none;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.tm-search-btn:hover{
    background-color: #f9ebaa;
}

p, .tm-text-gray { color: #7c87cd; }
.tm-text-gray-light { color: #abb1e4; }
.tm-text-gray-dark {color: #525c9d; }

.tm-video-item {
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.tm-video-item img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.tm-video-item figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.tm-video-item figcaption::before,
.tm-video-item figcaption::after {
    pointer-events: none;
}

.tm-video-item figcaption,
.tm-video-item figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tm-video-item figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.tm-video-item h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.tm-video-item h2,
.tm-video-item p {
    margin: 0;
}

.tm-video-item p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

.tm-gallery div.d-block { animation: show .5s ease; }

@keyframes show {
    0% {
    	opacity: 0;
    	transform: scale(0.9);
    }
    100% {
    	opacity: 1;
    	transform: scale(1);
    }
}

.tm-paging-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 1.1rem;
    color: #999;
    background-color: #EEEEEE;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.tm-paging-link:hover,
.tm-paging-link.active {
    background-color: #009999;
    color: #fff; 
}

/*---------------*/
/***** Ming *****/
/*---------------*/

figure.effect-ming {
	background: #030c17;
}

figure.effect-ming img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-ming figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 2px solid #fff;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.4,1.4,1);
	transform: scale3d(1.4,1.4,1);
}

figure.effect-ming h2 {
    font-size: 1.3em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-ming:hover figcaption::before,
figure.effect-ming:hover h2 {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-ming:hover figcaption { background-color: rgba(58,52,42,0); }
figure.effect-ming:hover img { opacity: 0.4; }


/* About */
.tm-row-1640 { max-width: 1640px; }
.tm-about-2-col { max-width: 716px; }
.tm-about-3-col { max-width: 540px; }

.tm-about-2-col,
.tm-about-3-col {
    margin-bottom: 50px;
}

.tm-about-icon-container {
    width: 150px;
    height: 150px;
    border: 1px solid #009999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tm-about-img-text { max-width: 940px; }

.mapouter{
    position:relative;
    height:480px;
    width:100%;
    max-width: 480px;
}

.gmap-canvas {
    overflow:hidden;
    background:none!important;
    height:480px;
    width:100%;
}

.tm-hero {
    background-image: url('https://pbs.twimg.com/media/Fh2y2muX0AMrxE1?format=png&name=large');
    background-size: cover;
    background-position: center;
    height: 40vh;
}

.tm-contact-form { max-width: 420px; }
.tm-address-col { max-width: 520px; }
.tm-contacts { padding-left: 0; }

.tm-contacts li {
    list-style: none;
    margin-bottom: 20px;
}

.tm-contacts li a i { width: 30px; }
.tm-social { display: flex; }

.tm-social li {
    list-style: none;
    margin-bottom: 20px;
    margin-right: 15px;
}

.tm-social li a i {
    width: 40px;
    height: 40px;
    color: #666666;
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.tm-social li a:hover i {
    color: #fff;
    background-color: #7c87cd;
}

.form-control,
input:-internal-autofill-selected,
select:not([multiple]) {
    color: #7c87cd !important;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:  #7c87cd;
    opacity: 1; /* Firefox */
}

@media (max-width: 991px) {
    .navbar-collapse {
        position: fixed;
        top: 80px;
        right: 0px;
        background: #7c87cd;
        width: 158px;
        padding: 15px;
    }

    #useraccount {
        order: 0;
        margin-right: 10px;
    }

    .navbar-toggler {
        order: 1;
    }

    .navbar-brand {
        order: -1;
    }

    .tm-container-content { max-width: 870px; }
    .tm-contact-form, .tm-address-col, .mapouter { max-width: 100%; }
    .tm-people-row { max-width: 900px; }
}

@media (max-width: 767px) {
    .tm-paging-col { flex-direction: column; }
    .tm-paging { flex-wrap: wrap; }
    .tm-about-img-text { max-width: 640px; }
    .tm-about-2-col, .tm-about-3-col { margin-bottom: 50px; }
}

@media (max-width: 575px) {
    .tm-container-content { max-width: 420px; }

    .tm-search-form {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        justify-content: center;
    }

    .tm-search-input {
        width: 100%;
        max-width: 360px;
    }

    .tm-people-row { max-width: 420px; }
}

@media (max-width: 400px) {
    .tm-btn-big { padding: 12px 50px 14px; }
}

@media (max-width: 334px) {
    .tm-social-links {
        flex-wrap: wrap;
        justify-content: start !important;
    }

    .tm-social-links li { margin-right: 3px; }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.modal-content button {
    margin: 10px;
}

.zoom-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #030c17;
}

.zoom-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.9;
}

.input-button-container {
    display: flex;
    align-items: center;
}

.btn-rename {
    border: none;
    background-color: transparent;
}

.form-edit {
    display: flex;
    height: 30px;
    color: #7c87cd;
    border-color: #7c87cd;
}

.form-edit-tag {
    display: flex;
    width: 200px;
    height: 30px;
    color: #7c87cd;
    border-color: #7c87cd;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.art-card {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.img-showcase {
    border: #f9ebaa;
    border-style: ridge;
    border-width: 10px;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.be-comment-block {
    margin-bottom: 50px !important;
    padding: 50px 70px;
}

.comments-title {
    font-size: 25px;
    color: #7c87cd;
    margin-bottom: 15px;
}

.be-img-comment {
    float: left;
    margin-bottom: 15px;
}

.comment-profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.be-comment-content {
    margin-left: 100px;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-text {
    font-size: 15px;
    line-height: 23px;
    color: #615c64;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
    margin-bottom: 20px;
}

.no-comment {
    color: #615c64;
    margin-left: 60px;
    margin-bottom: 60px;
}


.form-group .form-input {
    margin-top: 20px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    width: 100%;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    border: 1px solid #615c64;
    border-radius: 3px;
}

textarea {
    resize: none;
}

.form-edit {
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;
    width: 100%;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    border: 1px solid #615c64;
    border-radius: 3px;
}

.comment-actions {
    text-align: right;
}